In [1]:
import pandas as pd
import numpy as np

In [4]:
preferences = pd.read_csv("/Users/paulina.kalinowska/Desktop/project/Hackathon-16.11.2019/data/csv/preferences.csv")

In [3]:
df

,Unnamed: 0,preference,preferences_mom,preferences_dad,preferences_son,preferences_daughter,preferences_grandma,preferences_grandpa,preferences_woofer_the_dog
0,1,age,40,38,9,4,65,68,2
1,2,city,poznan,dublin,poznan/dublin,poznan/dublin,kumquat,goji_berry,poznan/dublin
2,3,likes monuments,3,3,5,1,4,5,1
3,4,likes hiking,5,2,5,4,2,5,5
4,5,likes restaurants,4,5,4,4,5,3,1
5,6,interested in history,4,4,5,2,4,5,1
6,7,likes long journeys,4,2,5,4,1,4,1
7,8,is brave,4,2,5,5,3,5,5
8,9,likes cycling,5,2,5,4,2,5,5
9,10,likes swimming,5,3,5,5,1,3,5
10,11,likes crowds,3,1,3,5,1,3,1
11,12,travels often,4,5,4,4,3,3,5
12,13,likes paintings,3,4,3,5,5,2,1
13,14,likes going to the theatre,3,4,2,5,5,2,1
14,15,gets bored quickly,3,3,5,5,3,5,5
15,16,likes heat,3,2,3,5,1,3,1
16,17,likes concerts,5,5,3,4,5,3,1
17,18,likes spending time in the nature,5,3,4,5,3,5,5
18,19,likes big cities,4,3,4,5,5,3,1
19,20,likes small towns,3,3,3,3,3,4,5
20,21,enjoys sleeping in high-class hotels,4,5,3,3,5,3,1
21,22,enjoys sleeping in hostels,4,3,4,5,1,2,5
22,23,speaks English fluently,5,5,5,5,3,2,5
23,24,looks for information about the cities on the ...,5,5,5,2,1,2,NaN
24,25,uses the internet often,5,4,5,4,2,3,NaN
25,26,always has a cell phone with him/her,5,4,5,3,2,2,NaN
26,27,usually takes a taxi,4,5,3,3,5,3,1
27,28,likes animals,3,4,5,5,3,5,5
28,29,likes parks,5,3,5,5,4,5,5
29,30,likes the sea,3,3,5,5,5,2,5
30,31,would like to show his/hers hometown,3,NaN,NaN,NaN,5,4,NaN
31,32,likes exploring non-touristy places,5,4,2,5,3,5,5
32,33,likes mountains,5,3,3,4,3,5,5