In [1]:
import pandas as pd

In [2]:
import numpy as np

In [13]:
#xlsx to pandas dataframe
df = pd.read_excel("aux_00002.xlsx", sheet_name="Sheet 1")

In [15]:
# !pip3 install xlrd

In [14]:
df.head()

   1
0  2
1  3

In [27]:
#csv to pandas df
df = pd.read_csv("aux_00003.csv",delimiter=";", header=0)

In [28]:
df.head()

   Unnamed: 0  x
0           1  1
1           2  2
2           3  3
3           4  4
4           5  5

In [32]:
#pd df to csv
df.to_csv("new.csv",sep=";", header=0, index=False)

In [ ]:
# Importing pandas as pd 
import pandas as pd 
  
# Creating the first Dataframe using dictionary 
df1 = pd.DataFrame({"a":[1, 2, 3, 4], 
                    "b":[5, 6, 7, 8]}) 
  
# Creating the Second Dataframe using dictionary 
df2 = pd.DataFrame({"a":[1, 2, 3], 
                    "b":[5, 6, 7],  
                    "c":[1, 5, 4]}) 
  
# for appending df2 at the end of df1 
df.append(df2, ignore_index = True)

In [37]:
#wiersze od trzeciego:
df.iloc[2::]

   Unnamed: 0   x
2           3   3
3           4   4
4           5   5
5           6   6
6           7   7
7           8   8
8           9   9
9          10  10

In [41]:
df1.iloc[0,1] #0 odnosi sie do wiersza, 1 do kolumny

5

In [51]:
#usun kolumne
del(df['x'])